{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<center>
	<h2><p>You are at detail.html</p></h2>
</center>
<h1>{{ question.question_text }}</h1>
{% if error_message %}<p class = "textred"><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label style="font-family:verdana;" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
	<br></br>
{% endfor %}
<p></p>
<input type="submit" value="Vote" />
</form>
{% endblock %}
